ADMIN_EMAIL=email@email.com
ADMIN_PASSWORD=......
NEXT_PUBLIC_SITE_URL=https://cvpair.com

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="url"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="string...."
SUPABASE_SECRET_KEY="string...."
SUPABASE_JWKS_URL="url"

# Redis Configuration
REDIS_HOST="string"
REDIS_PORT=8888
REDIS_PASSWORD="string"

# Resend Mail Service
RESEND_API_KEY="string/..."
RESEND_FROM_EMAIL=email@email.com

# Analytics & Ads
NEXT_PUBLIC_GA_ID=G-XYZ
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=""
NEXT_PUBLIC_USE_DUMMY_ADS=false