ADMIN_EMAIL=
ADMIN_PASSWORD=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
NEXT_PUBLIC_GA_ID=G-XYZ
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=00000
NEXT_PUBLIC_USE_DUMMY_ADS=true